extends layout

block content
  <! Dit block definieert content die in de layout.pug file wordt ingevoegd. -->
  h1= title
  p Welcome to #[em Express Sakila Explorer], a very basic Express website developed as a tutorial example on the Mozilla Developer Network.

  h1 Dynamic content

  p This app has the following record counts:

  ul
    li #[strong Movies:] !{numMovies}
    li #[strong Actors:] !{numActors}
    li #[strong Studios:] !{numStudios}	

  p Status: #[strong !{statusMessage}]
